.dropdown:hover .dropdownContent{
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}
.dropdownContent{
    background-color: antiquewhite;
    max-height: 0;
    overflow: hidden;
    width: 415px;
    border-radius: 10px;
    margin-top: 23px;
    transition: 0.8s max-height ease;
    z-index: 1000;
    position: relative;
    overflow-y: hidden;
}

.dropdownContent .dropdownItem{
    margin: 10px 0 10px 25px;
}
.center{
    display: flex;
    justify-content: center;
    position: relative;
}
.notificationNumber{
    position: absolute;
    top: -9px;
    right: 184px;
    width: 20px;
    height: 20px;
    font-size: 14px;
    background-color: #f53a3a;
    border-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;
}

.friendRequestPhoto{
    margin-right: 20px;
    margin-left: -10px;
    margin-top: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid darkgreen;
    transition: 0.3s all ease-out;
}

.friendRequestPhoto:hover{
    transform: scale(1.2);
}

.bold{
    margin: 0;
    font-weight: 700;
}

.notificationLink {
    text-decoration: none;
    color: black;
    display: flex;
    vertical-align: middle;
    border: dashed 3px black;
}
.notificationLink div{
    margin-top: 17px;
}
.notificationLink p {
    font-size: large;
}

.acceptRequest {
    background-color: chartreuse;
}

.declineRequest {
    background-color: brown;    
}

.iconsContainer{
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
}

.deleteAllIconContainer{
    cursor: pointer;
}

.deleteAllIconContainer:hover{
    animation: tiltTrash 0.5s 1;
}

@keyframes tiltTrash {
    0%{
        transform: rotate(0deg);
    }
    33%{
        transform: rotate(15deg);
    }
    66%{
        transform: rotate(-15deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.refreshIconContainer{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    cursor: pointer;
}

.refreshIconContainer :hover{
    animation-name:             rotate; 
    animation-duration:         0.7s; 
    animation-iteration-count:  1;
    animation-timing-function:  ease-out;
}

@keyframes rotate {
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}

.notificationItemTrashIconPositionContainer{
    cursor: pointer;
    position: absolute;
    right: 15px;
}

.notificationItemTrashIconPositionContainer:hover{
    animation: tiltTrash 0.5s 1;
}

.moveRight{
    border: dashed 3px black;
    animation: moveRight 0.5s 1;
}

@keyframes moveRight{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(300px);
    }
}