.imageTooBigContainer{
    display: flex;
    justify-content: center;
    padding: 4px;
    position: relative;
}

.imageTooBigContainer p{
    color: white;
    font-size: 16px;
}

.imageTooBigContainer a{
    color: yellowgreen;
    text-decoration: none;
    font-weight: 550;
    transition: ease-out 0.4s;
}

.imageTooBigContainer a:hover{
    color: yellow;
}

.warningIconContainer{
    margin-right: 50px;
    margin-top: 35px;
}