.lightbox{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}

.addUserContainer{
    background-color: #82ca66;
    margin: auto;
    margin-top: 100px;
    width: 70%;
    min-height: 720px;
    border: 3px solid green;
    padding: 10px;
    border-radius: 10px;
}
.buttonMinifier{
    margin-top: 36px;
    height: 5px;
}

.closeIcon{
    width: 40px;
    height: 40px;
    margin-right: 95%;
    cursor: pointer;
    transition: 0.2s ease-out;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.closeIcon:hover{
    background-color: teal;
}