.addUserContainer{
    background-color: #82ca66;
    margin: auto;
    margin-top: 100px;
    width: 70%;
    min-height: 720px;
    border: 3px solid green;
    padding: 10px;
    border-radius: 10px;
    overflow-y: auto;
}