.Menu{
    width: 100%;
    height: 80px;
    background-color: #53c253;
    display: flex;
    justify-content: flex-end;
}
.iconContainer{
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-right: 0px;
    position: relative;
}
.dropdown:hover .dropdownContent{
    max-height: 600px;
}
.dropdownContent{
    background-color: antiquewhite;
    max-height: 0;
    overflow: hidden;
    width: 300px;
    border-radius: 10px;
    margin-top: 23px;
    transition: 0.8s max-height ease;
}
.dropdownContent p{
    margin: 10px 0 10px 0;
    /* border-top: teal 1px solid;
    border-bottom: teal 1px solid; */
    padding: 10px;
    display: flex;
    justify-content: center;
}
.center{
    display: flex;
    justify-content: center;
    position: relative;
}
.notificationNumber{
    position: absolute;
    top: -9px;
    right: 126px;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
}
.otherIcons{
    position: absolute;
    top: 0px;
    right: 30px;
    width: 200px;
    /* border: 1px solid black; */
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    z-index: 1000;
}