.mainPanel{
    width: 80%;
}
.inputMenu{
    border-top: black 3px solid;
    position: fixed;
    bottom: 5px;
    width: 100%;
    padding: 5px;
    background-color: none;
    display: flex;
}
.inputMenu input{
    width: 75%;
    margin-right: 10px;
    border: none;
    border-radius: 50px;
    height: 20px;
    padding: 8px;
    font-size: 20px;
}
.sendIcon{
    border: 1px solid black;
    width: 25%;
}