.commentContainer{
    border: 2px solid #23610a;
    border-radius: 30px;
    padding: 10px;
    padding-top: 0px;
    margin: 5px;
}

.topBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -8px;
}

.commentAuthor{
    font-weight: 500;
}

.commentContent{
    margin-top: -10px;
}

/* new */
.numberInfoContainer{
    width: 50%;
    position: relative;
}
.numberInfoInnerContainer{
    width: 136px;
    position: absolute;
    top: 15px;
    right: -134px;
    display: flex;
    justify-content: space-around;
}
.iconDataContainer{
    width: 40px;
    position: relative;
    display: flex;
    justify-content: space-around;
}
.iconDataContainer p{
    margin-top: 1px;
    font-size: 17px;
}
.icon{
    margin-top: 5px;
}
.closer{
    margin-left: 10px;
} 
.likeP{
    margin-left: -10px;
}
.dislikeP{
    margin-left: -5px;
}
.likeIconPContainer{
    margin-right: -7px;
}
.commentsContainer button{
    margin-top: 20px;
}