.center{
    width: 100%;
    display: flex;
    justify-content: center;
}

.chatMenu{
    width: 40%;
    border-right: black 3px solid;
}
.noConversationsContainer{
    margin: 20px auto;
    color: white;
    background-color: #53c253;
    border-radius: 20px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.noConversationsContainer h1{
    width: 290px;
}

.addConversationIcon{
    height: 50px;
    width: 90%;
    background-color: #279a27;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.addConversationIconSmall{
    margin-top: 10px;
    height: 50px;
    width: 40%;
    background-color: #279a27;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: 500;
    transition: 0.2s ease-out;
}

.addConversationIconSmall:hover{
    transform: scale(1.2);
}

.addConversationIcon:hover{
    transform: scale(1.2);
}

.addConversationIcon p{
    font-size: 18px;
    font-weight: 550;
}

.conversationContainer{
    height: 98%;
    overflow-y: auto;
    padding-left: 5%;
}

.conversation{
    width: 90%;
    height: 15%;
    background-color: #53c253;
    border-radius: 20px;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s ease-out;
}


.conversation:hover{
    box-shadow: 10px 10px 29px -1px rgba(0,0,0,0.55);
}

.conversation h1{
    margin: 0;
    margin-left: 10px;
    color: #04255f;
}

.participantContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 550;
    overflow-x: auto;
}

.joinButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.joinButton{
    background-color: #82ca66;
    transition: 0.4s all ease-out;
    font-size: 20px;
    font-weight: 550;
    width: 15%;
    height: 10%;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.joinButton:hover{
    transform: scale(1.7);
}

.userDataContainer{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}