.Form{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.MobileForm{
    width: 100%;
    height: 100%;
    padding: 20px;
    color: white;
    overflow-x: hidden;
}

.Form h1{
    margin-top: 0px;
    margin-left: 165px;
    color: white;
}

.MobileForm h1{
    margin-top: 0px;
    margin-left: 165px;
    color: white;
}

.Form label{
    margin: 10px;
    color: hsl(119deg 84% 73%);
    font-weight: 600;
    font-size: 30px;
}

.MobileForm label{
    margin: 10px;
    color: hsl(119deg 84% 73%);
    font-weight: 600;
    font-size: 30px;
}

.Form input{
    margin: 10px;
    padding: 5px;
    border: thick;
    transition: all 0.3s ease-in;
    min-width: 250px;
    min-height: 35px;
    transition: all ease 0.3s;
}

.MobileForm input{
    margin: 10px;
    padding: 5px;
    border: thick;
    transition: all 0.3s ease-in;
    min-width: 250px;
    min-height: 35px;
    transition: all ease 0.3s;
}

.Form input:focus{
    -webkit-box-shadow: 0px 0px 18px 3px #FFFFFF; 
    box-shadow: 0px 0px 18px 3px #FFFFFF;
    outline: none;
}

.MobileForm input:focus{
    -webkit-box-shadow: 0px 0px 18px 3px #FFFFFF; 
    box-shadow: 0px 0px 18px 3px #FFFFFF;
    outline: none;
}
  
.buttonContainer{
    margin: 10px 0px 10px -10px;
}

.InputName{
    margin-left: 65px !important;
}

.InputSurname{
    margin-left: 25px !important;
}

.InputEmail{
    margin-left: 60px !important;
}

.InputPassword{
    margin-left: 18px !important;
}

.InputNick{
    margin-left: 9px !important;
}

.InputPhoto{
    margin-left: 115px !important;
    margin-top: 120px !important;
}

.Form img{
    width: 110px;
    height: 110px;
    border: solid teal 3px;
    transition: all ease 0.3s;
}

.MobileForm img{
    width: 110px;
    height: 110px;
    border: solid teal 3px;
    transition: all ease 0.3s;
}

.Form img:hover{
    -webkit-box-shadow: 0px 0px 18px 3px #FFFFFF; 
    box-shadow: 0px 0px 18px 3px #FFFFFF;
}

.imgContainer{
    position: absolute;
    top: 430px;
    left: 250px;
}

.labelLogin{
    color: hsl(119deg 84% 73%);
    font-weight: 500;
    font-size: 25px;
}

.loginLink{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    border-bottom: solid 2px;
    /* border-bottom-color: hsl(53deg 100% 47%);
    color: hsl(53deg 100% 47%); */
    border-bottom-color: white;
    color: white;
}

.consentContainer{
    width: 60%;
    margin: 0 auto;
}

.center{
    width: 100%;
    display: flex;
    justify-content: center;
}

.bottomLabel{
    padding: 30px;
}