.mainContainer{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
} 

.mainContainer form{
    margin-left: 5px;
    width: 100%;
} 

.mainContainer input{
    border: none;
    border-radius: 50px;
    width: 96%;
    height: 20px;
    padding: 8px;
} 

.sendIcon{
    margin-top: 2px;
    margin-right: 20px;
}