.numberInfoContainer{
    width: 50%;
    position: relative;
}
.numberInfoInnerContainer{
    width: 136px;
    position: absolute;
    top: 15px;
    display: flex;
    justify-content: space-around;
}
.iconDataContainer{
    width: 40px;
    position: relative;
    display: flex;
    justify-content: space-around;
}
.iconDataContainer p{
    margin-top: 1px;
    font-size: 17px;
}
.icon{
    margin-top: 5px;
}
.closer{
    margin-left: 10px;
} 
.likeP{
    margin-left: -10px;
}
.dislikeP{
    margin-left: -5px;
}
.likeIconPContainer{
    margin-right: -7px;
}
.commentsContainer button{
    margin-top: 20px;
}


/* to be used only when comments are disabled */
.movetoleft{
    margin-left: -50px;
}