.onlineIcon{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50px;
    left: 75px;
}

.online{
    background-color: green;
}

.offline{
    background-color: darkred;
}