.userPhoto{
    width: 60px;
    height: 60px;
    margin-left: 25px;
    transition: 0.2s;
    border-radius: 50%;
}

.smallUserPhoto{
    width: 45px;
    height: 45px;
    margin: 10px;
    transition: 0.2s;
    border-radius: 50%;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.smallPhotoCommentForm{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-left: -5px;
    margin-top: 5px;
    animation: skeleton-loading 1s linear infinite alternate;
}

.userPhoto:hover{
    transform: scale(1.2);
}

.smallUserPhoto:hover{
    transform: scale(1.2);
}

.dropdown{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 100px;
    position: relative;
}

.dropdownContent{
    width: 120px;
    visibility: hidden;
    border: none;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    margin-right: 10px;
    height: 1px;
    transition: all 0.2s linear;
}

.dropdownContent hr {
    margin: 0 -10px 0 -10px;
}

.dropdownContent p{
    margin: 0;
    margin-left: -10px;
    width: 100%;
    padding: 10px;
    transition: all 0.2s linear;
    opacity: 0;
}

.dropdownContent p:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
}

.dropdownContent p:hover .myProfileLink{
    color: white;
}

.dropdownContent .myProfileLink:hover{
    color: white;
}

.dropdownUsername{
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}

.dropdown:hover .dropdownContent{
    visibility: visible;
    height: 200px;
    /* height: 155px; */
    position: absolute;
    z-index: 80;
}

.dropdown:hover .dropdownContent p{
    opacity: 1;
}

.myProfileLink {
    text-decoration: none;
    color: black;
}

.onlineIconPositioner{
    position: absolute;
    top: 48px;
    left: 81px;
}