/* FIRST SECTION (2nd: line 126) */
.flexContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.mainContainer{
    z-index: 0;
    background-color: #70c45c;
    width: 60%;
    margin-top: 40px;
    padding: 25px;
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.userPhoto{
    width: 340px;
    height: 390px;
    border-radius: 4px;
    transition: 0.8s all ease-in-out;
}

.userPhoto:hover{
    -webkit-box-shadow: -2px -1px 20px 13px rgba(255,255,255,0.6); 
    box-shadow: -2px -1px 20px 13px rgba(255,255,255,0.6);
    cursor: pointer;
}

.textInfoContainer{
    position: absolute;
    top: 25px;
    left: 400px;
}

.bio{
    background-color: #83dc61;
    border-radius: 4px;
    width: 375px;
    height: 237px;
    padding: 8px;
    overflow: hidden;
    position: relative;
}
.bio p{
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
}

.editIconContainer{
    position: absolute;
    top: 87%;
    width: 95%;
}
.editIcon{
    margin-left: 95%;
}

.textNameH1{
    color: #04255f;
    margin-bottom: 5px;
    margin-top: -5px;
    padding: 0;
    font-size: 40px;
}
.textNameH2{
    color: #051e4a;
    font-size: 28px;
    margin-top: 17px;
    margin-bottom: 36px;
    padding: 0;
}

.imgContainer{

}

.rightPartInfoContainer{
    border: none;
    border-left: solid black 2px;
    padding-left: 60px;
    width: 200px;
    margin-right: 40px;
}
.numberInfoContainer{
    margin-top: -20px;
    margin-bottom: 50px;
    margin-left: -35px;
}
.numberInfoContainer p{
    font-size: 25px;
    margin-bottom: 10px;
}

.socialNumbersPanel{
    width: 240px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-right: 40px;
}

.socialButtonsContainer{
    width: 100px;
    margin-left: 25px;
}
.socialButtonsContainer button{
    width: 150px;
    height: 50px;
    margin: 10px;
    margin-left: 0;
    transition: 0.3s all ease;
    font-size: 18px;
}

.socialButtonsContainer button:hover{
    animation: none;
    transform: scale(1.3);
    cursor: pointer;
}

.follow{
    background-color: darkcyan !important;
}
.addFriend{
    background-color: darkgoldenrod;
}
.sendMessage{
    background-color: darkorchid !important;
}


/* SECOND SECTION */
.userProfileMenu{
    width: 60%;
    height: 30px;
    background-color: #70c45c;
    padding: 10px 25px 10px 25px;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: space-around;
}

.userProfileMenuItem{
    font-size: 20px;
    height: 55px;
    z-index: 20;
    margin-top: -15px;
    width: 150px;
    background-color: #70c45c;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    transition: background-color 0.6s ease-in;
}

.userProfileMenuItem p{
    margin: 0;
    padding-top: 10px;
    font-size: 25px;
}

.border{
    position: absolute;
    border-bottom: black 3px solid;
    border: none;
    width: 160px;
    height: 52px;
}

.active{
    border: black 3px solid;
    border-bottom: #70c45c 3px solid;
}
.center{
    display: flex;
    justify-content: center;
}

.acceptRequest{
    background-color: darkgreen;
}

.declineRequest{
    background-color: darkred;
}