.cookiesBanner{
  background-color: #53c253;
  z-index: 10000;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: 550;
  position: fixed;
  bottom: 0;
}

.closeCookiesBannerIcon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeCookiesBannerIcon svg{
  cursor: pointer;
  margin-left: 10px;
}