.mainContainer{
    position: relative;
}

.mainHeader{
    /* margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 70px;
    font-weight: 600;
    color: black; */
    margin-top: 20px;
    margin-left: 133px;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: 600;
    font-family: unset;
    color: #04255f;
}

.nameListContainer{
    background-color: #82ca66;
    margin: 0 auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    border-radius: 10px;
}

.listElement {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.smallFaceContainer{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.namesContainer{
    width: 80%;
}
.listElement h1{
    margin: 0;
}
.listElement img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
hr {
    border-color: green;
    color: green;
    background-color: green;
}

.containerLink{
    color: black;
    text-decoration: none;
}
