.mainContainer{
    position: relative;
}

.mainHeader{
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 70px;
    font-weight: 600;
    color: black;
}

.wrapper{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: black 1px solid;
}

.face img{
    border-radius: 10%;
    height: 280px;
    width: 280px;
    margin: 20px;
    transition: 0.5s all ease;
}
.face img:hover{
    transform: scale(1.2);
}

.viewOptions{

}
.viewOptionsH3{

}
.Select{

}
/* list elements: */

.nameListContainer{
    background-color: #82ca66;
    margin: 0 auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    border-radius: 10px;
}

.listElement {
    /* border: black dashed 2px; */
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.smallFaceContainer{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.namesContainer{
    width: 80%;
}
.listElement h1{
    margin: 0;
}
.listElement img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
hr {
    border-color: green;
    color: green;
    background-color: green;
}