.center{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container{
    margin-top: 20px;
    padding: 10px;
    width: 80%; 
    background-color: #53c253;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.addPhoto{
    margin: 10px;
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addPhotoContainer{
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #82ca66;
    transition: 0.3s linear;
}

.addPhotoContainer img{
    width: 90px;
    height: 90px;
}

.addPhotoContainer:hover{
    box-shadow: 10px 10px 29px -1px rgba(0,0,0,0.55);
}