.mainContainer{
    width: 90%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.center{
    width: 100%;
    display: flex;
    justify-content: center;
}