.mainContainer{
    /* width: 70%; */
    /* width: 80%; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* display: grid; 
    grid-template-columns: 0fr 0fr 0fr 0fr; 
    grid-template-rows: 0fr 0fr 0fr 0fr; 
    gap: 0px 0px;   */
    margin: 0 auto;
    position: relative;
}
.btnMore{
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}
.mainHeader{
    margin-left: 20px;
    font-size: 40px;
    color: yellow;
}

.searchButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchContainer{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 0 auto;
}

.addPost{
    transition: 0.3s ease-in-out;
}

.addPost:hover{
    box-shadow: 10px 10px 29px -1px rgb(0 0 0 / 55%);
}