.Card{
    padding: 8px;
    text-decoration: none;
    border-radius: 4px;
    background-color: hsl(210deg 66% 52%);
    width: 320px;
    height: 300px;
    margin: 5px;
    transition: 0.3s;
    text-overflow: hidden;
    position: relative;
}

.Card:hover{
    box-shadow: 10px 10px 29px -1px rgba(0,0,0,0.55);
}

.Card img{
    width: 90px;
    height: 90px;
    margin-top: 110px;
    margin-left: 115px;
}