.MainContainer{
    display: flex;
    justify-content: center;
}

.blogCards{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.cardBig{
    display: flex;
    border: 3px solid #82ca66;
    border-radius: 4px;
    background-color: #82ca66;
    width: 1000px;
    padding: 15px;
    min-height: 113px;
    margin-left: 80px;
}

.blogFace{
    width: 300px;
    background-color: #82ca66;
    border-radius: 4px;
    padding: 20px; 
    padding-top: 0px;
}

.btnsContainer{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.postTitle{
    font-size: 40px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;

}
.postAuthor{
    font-size: 20px;
    font-weight: 500;
    /* margin: 10px 5px 5px 5px; */
}

.commentContainer{
    width: 300px;
    background-color: #82ca66;
    border-radius: 4px;
    padding: 20px;
}