.center{
    width: 100%;
    display: flex;
    justify-content: center;
}

.smallBlogContainer{
    width: 90%;
    color: #04255f;
    background-color: #53c25385;
    border-radius: 4px;
    padding: 10px 20px 5px 20px;
    margin: 10px;
    transition: 0.5s box-shadow ease-out;
}
.smallBlogContainer h1{
    margin: 0px;
    padding: 0px;

}
.smallBlogContainer:hover{
    box-shadow: 10px 10px 29px -1px rgba(0,0,0,0.55);
}

.loadmorebtn{
    margin-top: 10px;
}

.upperSegment{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
}

.h1Container{
    width: 80%;
}
.h1Container h1{
    color: #04255f;
    float: left;
}
.numberInfoContainer{
    width: 20%;
    position: relative;
}
.numberInfoInnerContainer{
    width: 136px;
    position: absolute;
    top: 0px;
    right: 30px;
    display: flex;
    justify-content: space-around;
}
.iconDataContainer{
    width: 40px;
    position: relative;
    display: flex;
    justify-content: space-around;
}
.iconDataContainer p{
    margin-top: 1px;
    font-size: 17px;
}
.icon{
    margin-top: 5px;
}
.closer{
    margin-left: 10px;
} 
.likeP{
    margin-left: -10px;
}
.dislikeP{
    margin-left: -5px;
}
.likeIconPContainer{
    margin-right: -7px;
}
.date{
    font-weight: 800;
    margin-top: -10px;
    width: 100px;
}
.content{
    margin-bottom: 10px;
}
.showcomments{
    margin-top: 30px;
    margin-bottom: 2px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 14px;
    transition: 0.4s all ease;
    width: 110px;
}
.showcomments:hover{
    color: yellow;
    text-decoration: yellow underline;
}

.smallBlogContainer hr{
    width: 100%;
    background-color: black;
    margin-top: 15px;
    margin-bottom: 15px;
}