.center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userContainer{
    background-color: #82ca66;
    margin: 0 auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    border-radius: 10px;
}